<!-- HEADER -->

<%- include('common/header.ejs') %>
    <!-- HEADER SECTTION END -->



    <!---------------------------------- <about me start> ------------------------------------->

    <div class="coloum">
        <div class="about my-5" id="about">
            <div class="container text-black">

                <div class="text-center">
                    <h1 data-aos="fade-up" data-aos-duration="3000">About - CEO</h1>
                    <hr class="w-25 m-auto text-black">
                </div>

                <div class="row mt-5 ">
                    <div class=" aboutbox col-sm-12 col-md-6 col-lg-6 col-12 " data-aos="fade-up"
                    data-aos-duration="3000">
                        <h1 class="text-center pb-2"><b> Raspal Yadav</b></h1>


                        <h4>As the founder and chief visionary behind our beloved travel haven, I, Raspal, have
                            dedicated my life to the enriching world of exploration and adventure. With an insatiable
                            wanderlust and a heart yearning for discovery, the beauty of diverse cultures. Each journey
                            we offer is a reflection of our dedication to crafting moments that linger in the hearts and
                            memories of those who embark on our expeditions. Welcome to a world of adventure, where
                            every step embodies the essence of wanderlust and each destination tells a unique story of
                            wonder and awe. Welcome to our world at World-Wide Tourism.</h4>
                        </p>

                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-12" data-aos="fade-up"
                    data-aos-duration="3000">
                        <div class="aboutpic ">

                            <img src="assets/image/boss.jpg" class="imagebox  img-fluid h-100  " alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-------------------------------------------- <about me end> ----------------------------------------->


    <%- include('common/footer.ejs') %>