<!-- HEADER -->

<%- include('common/header.ejs') %>
  <!-- HEADER SECTTION END -->

  <!-- BODY -->
  

  <!--------------- <carousal start> ---------------------->

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/image/wallpaper3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/image/sea.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/image/sea2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>


  <!--------------- <carousal end> ---------------------->

  <div class="black">
    <img src="assets/image/line3.png" class="w-100" alt="..." style="height: 70px; ">
  </div>



  <!-------------------------------------------- <packages start> -------------------------------------->


  <div class="service">
    <div class="services  py-5 ">
      <div class="container-fluid text-center " id="service">
        <div class="headline" >
          <img src="assets/image/indiahead.png" alt="" width="55%" height="100px" data-aos="fade-up" data-aos-offset="250">
        </div>
        <div class="row py-5 mt-5 ms-5">
          <div class="col-sm-12 col-md-4 col-lg-4 col-12">

            <div class="card  mb-4 bg-dark border border-dark border-4"
              style="width: 27rem;  border-top-right-radius: 50px;  border-bottom-left-radius: 50px;" id="cloud " data-aos="flip-right" data-aos-offset="250">
              <img src="assets/image/kerala.jpg" class="card-img-top  " alt="..."
                style="height: 300px;  border-top-right-radius: 50px;  ">
              <div class="card-body">
                <h4 class="card-title text-white mb-3">Kerala - Rs 23,999/-</h4>
                <p class="card-text text-black">
                  <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
              </div>
            </div>

          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="card  mb-4 bg-dark border border-dark border-4" style="width: 27rem;  border-radius:50px;"data-aos="flip-up" data-aos-offset="250">
              <img src="assets/image/himachal.jpg" class="card-img-top  " alt="..."
                style="height: 300px; border-top-left-radius:50px; border-top-right-radius:50px;">
              <div class="card-body ">
                <h4 class="card-title text-white mb-3">Himachal - Rs 31,999/-</h4>
                <p class="card-text text-black">
                  <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="card  mb-4 bg-dark border border-dark border-4"
              style="width: 27rem;  border-top-left-radius: 50px;  border-bottom-right-radius: 50px;"data-aos="flip-left" data-aos-offset="250">
              <img src="assets/image/uttarpradesh.jpg" class="card-img-top  " alt="..."
                style="height: 300px; border-top-left-radius: 50px; ">
              <div class="card-body  ">
                <h4 class="card-title text-white mb-3">Uttar-pradesh - Rs 21,499/-</h4>
                <p class="card-text text-black">
                  <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="services">
    <div class="container-fluid text-center " id="service">

      <div class="row  ms-5">
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">

          <div class="card  mb-4 bg-dark border border-dark border-4"
            style="width: 27rem;  border-top-right-radius: 50px;  border-bottom-left-radius: 50px;" id="cloud "data-aos="flip-right" data-aos-offset="250">
            <img src="assets/image/kashmir.jpg" class="card-img-top  " alt="..."
              style="height: 300px;  border-top-right-radius: 50px;  ">
            <div class="card-body">
              <h4 class="card-title text-white mb-3">Kashmir - 29,999/-</h4>
              <p class="card-text text-black">
                <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
            </div>
          </div>

        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card  mb-4 bg-dark border border-dark border-4" style="width: 27rem;  border-radius:50px;"data-aos="flip-up" data-aos-offset="250">
            <img src="assets/image/goa.jpg" class="card-img-top  " alt="..."
              style="height: 300px; border-top-left-radius:50px; border-top-right-radius:50px;">
            <div class="card-body ">
              <h4 class="card-title text-white mb-3">Goa - Rs 49,999/-</h4>
              <p class="card-text text-black">
                <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card  mb-4 bg-dark border border-dark border-4"
            style="width: 27rem;  border-top-left-radius: 50px;  border-bottom-right-radius: 50px;"data-aos="flip-left" data-aos-offset="250">
            <img src="assets/image/rajasthan.jpg" class="card-img-top  " alt="..."
              style="height: 300px; border-top-left-radius: 50px; ">
            <div class="card-body  ">
              <h4 class="card-title text-white mb-3">Rajasthan - Rs 33,999/-</h4>
              <p class="card-text text-black">
                <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!-------------------------------------------- <packages end> -------------------------------------->

  <!----------------------- autoplay images start --------------------------->
  <div class="auto">
  <div class="d-flex flex-row mb-3 bg-dark ">
    <div class="pt-2"data-aos="fade-right" data-aos-offset="250"><img src="assets/image/sea.jpg" alt="" height="450px" width="400px"></div>
    <div class="p-2"data-aos="fade-up" data-aos-offset="250"><video autoplay loop muted width="100%">
        <source src="assets/image/world-wide.mp4" type="video/mp4">
      </video></div>
    <div class=" pt-2"data-aos="fade-left" data-aos-offset="250"><img src="assets/image/sea2.jpg" alt="" height="450px" width="400px"></div>

  </div>
</div>

  <!----------------------- autoplay images end --------------------------->

  <!-- <explore world start> -->


  <div class="service mt-5">
    <div class="services  py-5 ">
      <div class="container-fluid text-center " id="service">
        <div class="headline" >
          <img src="assets/image/worldhead.png" alt="" width="55%" height="100px"data-aos="fade-up" data-aos-offset="250">
        </div>
        <div class="row py-5 mt-5 ms-5">
          <div class="col-sm-12 col-md-4 col-lg-4 col-12">

            <div class="card  mb-4 bg-dark border border-dark border-4"
              style="width: 27rem;  border-top-right-radius: 50px;  border-bottom-left-radius: 50px;" id="cloud "data-aos="zoom-in-right" data-aos-offset="250">
              <img src="assets/image/switzerland.jpg" class="card-img-top  " alt="..."
                style="height: 300px;  border-top-right-radius: 50px;  ">
              <div class="card-body">
                <h4 class="card-title text-white mb-3">Switzerland - Rs 2,99,999/-</h4>
                <p class="card-text text-black">
                  <a href="/world" class="btn btn-light btn-lg">Explore->>></a>
              </div>
            </div>

          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="card  mb-4 bg-dark border border-dark border-4" style="width: 27rem;  border-radius:50px;"data-aos="zoom-out-up" data-aos-offset="250">
              <img src="assets/image/indonesia.jpg" class="card-img-top  " alt="..."
                style="height: 300px; border-top-left-radius:50px; border-top-right-radius:50px;">
              <div class="card-body ">
                <h4 class="card-title text-white mb-3">Indonesia - Rs 2,31,999/-</h4>
                <p class="card-text text-black">
                  <a href="/world" class="btn btn-light btn-lg">Explore->>></a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="card  mb-4 bg-dark border border-dark border-4"
              style="width: 27rem;  border-top-left-radius: 50px;  border-bottom-right-radius: 50px;"data-aos="zoom-in-left" data-aos-offset="250">
              <img src="assets/image/newzealand.jpg" class="card-img-top  " alt="..."
                style="height: 300px; border-top-left-radius: 50px; ">
              <div class="card-body  ">
                <h4 class="card-title text-white mb-3">New-Zealand - Rs 3,21,499/-</h4>
                <p class="card-text text-black">
                  <a href="/world" class="btn btn-light btn-lg">Explore->>></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="services">
    <div class="container-fluid text-center " id="service">

      <div class="row  ms-5">
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">

          <div class="card  mb-4 bg-dark border border-dark border-4"
            style="width: 27rem;  border-top-right-radius: 50px;  border-bottom-left-radius: 50px;" id="cloud "data-aos="zoom-in-right" data-aos-offset="250">
            <img src="assets/image/dubai.jpg" class="card-img-top  " alt="..."
              style="height: 300px;  border-top-right-radius: 50px;  ">
            <div class="card-body">
              <h4 class="card-title text-white mb-3">Dubai - 1,99,999/-</h4>
              <p class="card-text text-black">
                <a href="/world" class="btn btn-light btn-lg">Explore->>></a>
            </div>
          </div>

        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card  mb-4 bg-dark border border-dark border-4" style="width: 27rem;  border-radius:50px;"data-aos="zoom-out-up" data-aos-offset="250">
            <img src="assets/image/usa.jpg" class="card-img-top  " alt="..."
              style="height: 300px; border-top-left-radius:50px; border-top-right-radius:50px;">
            <div class="card-body ">
              <h4 class="card-title text-white mb-3">U.S.A - Rs 4,49,999/-</h4>
              <p class="card-text text-black">
                <a href="/world" class="btn btn-light btn-lg">Explore->>></a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card  mb-4 bg-dark border border-dark border-4"
            style="width: 27rem;  border-top-left-radius: 50px;  border-bottom-right-radius: 50px;"data-aos="zoom-in-left" data-aos-offset="250">
            <img src="assets/image/canada.jpg" class="card-img-top  " alt="..."
              style="height: 300px; border-top-left-radius: 50px; ">
            <div class="card-body  ">
              <h4 class="card-title text-white mb-3">Canada - Rs 3,33,999/-</h4>
              <p class="card-text text-black">
                <a href="/world" class="btn btn-light btn-lg">Explore->>></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- world end -->

  <div class="client" >
    <img src="assets/image/clients.png" alt="" width="55%" height="100px"data-aos="fade-up" data-aos-offset="250">
  </div>

    <!----------------------- review images start --------------------------->
     <div class="review">
    <div class="d-flex flex-row  bg-dark mt-5 ">
      <div class=" zoomable-image pt-2"><img src="assets/image/flex11.jpg" alt="" height="300px" width="400px"></div>
      <div class="zoomable-image p-2"><img src="assets/image/flex14.jpg" alt="" height="300px" width="783px"></div>
      <div class=" zoomable-image pt-2"><img src="assets/image/flex3.jpg" alt="" height="300px" width="400px"></div>
  
    </div>
    <div class="d-flex flex-row  bg-dark ">
      <div class="zoomable-image pe-2"><img src="assets/image/flex7.jpg" alt="" height="300px" width="796px"></div>
      
      <div class="zoomable-image"><img src="assets/image/flex9.jpg" alt="" height="300px" width="795px"></div>
  
    </div>
    <div class="d-flex flex-row  bg-dark ">
      <div class="zoomable-image pt-2"><img src="assets/image/flex13.jpg" alt="" height="300px" width="400px"></div>
      <div class="zoomable-image p-2"><img src="assets/image/flex12.jpg" alt="" height="300px" width="783px"></div>
      <div class="zoomable-image  pt-2"><img src="assets/image/flex4.jpg" alt="" height="300px" width="400px"></div>
  
    </div>
    </div>
  
    <!----------------------- review images end --------------------------->

    <div class="awards">
      <div class="d-flex flex-row   mt-5 ">
        <div class=" zoomable-image pe-4 "><img src="assets/image/award9.png" alt=""height="150px" width="150px"></div>
        <div class=" zoomable-image pe-4"><img src="assets/image/award2.png" alt="" height="150px" width="150px"></div>
        <div class=" zoomable-image pe-4"><img src="assets/image/award1.png" alt="" height="150px" width="150px"></div>
        <div class=" zoomable-image pe-4"><img src="assets/image/award3.png" alt="" height="150px" width="150px"></div>
        <div class=" zoomable-image pe-4"><img src="assets/image/award5.png" alt="" height="150px" width="150px"></div>
        <div class=" zoomable-image pe-4"><img src="assets/image/award7.png" alt="" height="150px" width="150px"></div>
        <div class=" zoomable-image pe-4"><img src="assets/image/award8.png" alt="" height="150px" width="150px"></div>
      
    
    
      </div>
      </div>


   





  <!-- FOOTER SECTION START -->
  <%- include('common/footer.ejs') %>