<!-- HEADER -->

<%- include('common/header.ejs') %>
  <!-- HEADER SECTTION END -->

   <div class="india-container">
     <!------------------------------------ <video start> ----------------------------------->

        <div class="container-fluid bg-dark" >
            <video autoplay loop muted width="100%">
            <source src="assets/image/indiavideo.mp4" type="video/mp4" >
             </video>
              </div>
         
              <!-------------------------------- <video end> ----------------------------------------->

                
  <!-------------------------------------------- <packages start> -------------------------------------->


  <div class="service">
    <div class="services  py-5 ">
      <div class="container-fluid text-center " id="service">
        <div class="headline" >
          <img src="assets/image/bharat.png" alt="" width="55%" height="100px"data-aos="fade-up" data-aos-offset="250">
        </div>
        <div class="row py-5 mt-5 ms-5">
          <div class="col-sm-12 col-md-4 col-lg-4 col-12">

            <div class="card  mb-4 bg-dark border border-dark border-4"
              style="width: 27rem;  border-top-right-radius: 50px;  border-bottom-left-radius: 50px;" id="cloud "data-aos="fade-right" data-aos-offset="250">
              <img src="assets/image/mumbai.jpg" class="card-img-top  " alt="..."
                style="height: 300px;  border-top-right-radius: 50px;  ">
              <div class="card-body">
                <h4 class="card-title text-white mb-3">Mumbai - Rs 44,999/-</h4>
                <p class="card-text text-black">
                  <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
              </div>
            </div>

          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="card  mb-4 bg-dark border border-dark border-4" style="width: 27rem;  border-radius:50px;"data-aos="fade-down" data-aos-offset="250">
              <img src="assets/image/banglore.jpg" class="card-img-top  " alt="..."
                style="height: 300px; border-top-left-radius:50px; border-top-right-radius:50px;">
              <div class="card-body ">
                <h4 class="card-title text-white mb-3">Bangluru - Rs 37,999/-</h4>
                <p class="card-text text-black">
                  <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="card  mb-4 bg-dark border border-dark border-4"
              style="width: 27rem;  border-top-left-radius: 50px;  border-bottom-right-radius: 50px;"data-aos="fade-left" data-aos-offset="250">
              <img src="assets/image/chennai.jpg" class="card-img-top  " alt="..."
                style="height: 300px; border-top-left-radius: 50px; ">
              <div class="card-body  ">
                <h4 class="card-title text-white mb-3">Chennai - Rs 41,499/-</h4>
                <p class="card-text text-black">
                  <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="services">
    <div class="container-fluid text-center " id="service">

      <div class="row  ms-5">
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">

          <div class="card  mb-4 bg-dark border border-dark border-4"
            style="width: 27rem;  border-top-right-radius: 50px;  border-bottom-left-radius: 50px;" id="cloud "data-aos="fade-right" data-aos-offset="250">
            <img src="assets/image/ladakh.jpg" class="card-img-top  " alt="..."
              style="height: 300px;  border-top-right-radius: 50px;  ">
            <div class="card-body">
              <h4 class="card-title text-white mb-3">Laddakh - 69,999/-</h4>
              <p class="card-text text-black">
                <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
            </div>
          </div>

        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card  mb-4 bg-dark border border-dark border-4" style="width: 27rem;  border-radius:50px;"data-aos="fade-up" data-aos-offset="250">
            <img src="assets/image/vishakha.jpg" class="card-img-top  " alt="..."
              style="height: 300px; border-top-left-radius:50px; border-top-right-radius:50px;">
            <div class="card-body ">
              <h4 class="card-title text-white mb-3">Vishakhapatnam - Rs 49,999/-</h4>
              <p class="card-text text-black">
                <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card  mb-4 bg-dark border border-dark border-4"
            style="width: 27rem;  border-top-left-radius: 50px;  border-bottom-right-radius: 50px;"data-aos="fade-left" data-aos-offset="250">
            <img src="assets/image/delhi.jpg" class="card-img-top  " alt="..."
              style="height: 300px; border-top-left-radius: 50px; ">
            <div class="card-body  ">
              <h4 class="card-title text-white mb-3">Delhi - Rs 23,999/-</h4>
              <p class="card-text text-black">
                <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!-------------------------------------------- <packages end> -------------------------------------->
      <!----------------------- autoplay images start --------------------------->
  <div class="auto">
    <div class="d-flex flex-row mb-3 bg-dark ">
      <div class="pt-2"data-aos="fade-right" data-aos-offset="250"><img src="assets/image/sunset.jpg" alt="" height="450px" width="400px"></div>
      <div class="p-2"data-aos="fade-up" data-aos-offset="250"><img src="assets/image/visakhapatnam.jpg" alt="" height="450px" width="785px"></div>
      <div class=" pt-2"data-aos="fade-left" data-aos-offset="250"><img src="assets/image/sunset2.jpg" alt="" height="450px" width="400px"></div>
  
    </div>
  </div>
  
    <!----------------------- autoplay images end --------------------------->

                  
  <!-------------------------------------------- <packages start> -------------------------------------->


  <div class="service">
    <div class="services  py-5 ">
      <div class="container-fluid text-center " id="service">
      
        <div class="row py-5 mt-5 ms-5">
          <div class="col-sm-12 col-md-4 col-lg-4 col-12">

            <div class="card  mb-4 bg-dark border border-dark border-4"
              style="width: 27rem;  border-top-right-radius: 50px;  border-bottom-left-radius: 50px;" id="cloud "data-aos="zoom-out-right" data-aos-offset="250">
              <img src="assets/image/kerala.jpg" class="card-img-top  " alt="..."
                style="height: 300px;  border-top-right-radius: 50px;  ">
              <div class="card-body">
                <h4 class="card-title text-white mb-3">Kerala - Rs 23,999/-</h4>
                <p class="card-text text-black">
                  <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
              </div>
            </div>

          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="card  mb-4 bg-dark border border-dark border-4" style="width: 27rem;  border-radius:50px;"data-aos="zoom-out-down" data-aos-offset="250">
              <img src="assets/image/himachal.jpg" class="card-img-top  " alt="..."
                style="height: 300px; border-top-left-radius:50px; border-top-right-radius:50px;">
              <div class="card-body ">
                <h4 class="card-title text-white mb-3">Himachal - Rs 31,999/-</h4>
                <p class="card-text text-black">
                  <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="card  mb-4 bg-dark border border-dark border-4"
              style="width: 27rem;  border-top-left-radius: 50px;  border-bottom-right-radius: 50px;"data-aos="zoom-out-left" data-aos-offset="250">
              <img src="assets/image/uttarpradesh.jpg" class="card-img-top  " alt="..."
                style="height: 300px; border-top-left-radius: 50px; ">
              <div class="card-body  ">
                <h4 class="card-title text-white mb-3">Uttar-pradesh - Rs 21,499/-</h4>
                <p class="card-text text-black">
                  <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="services">
    <div class="container-fluid text-center " id="service">

      <div class="row  ms-5">
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">

          <div class="card  mb-4 bg-dark border border-dark border-4"
            style="width: 27rem;  border-top-right-radius: 50px;  border-bottom-left-radius: 50px;" id="cloud "data-aos="zoom-out-right" data-aos-offset="250">
            <img src="assets/image/kashmir.jpg" class="card-img-top  " alt="..."
              style="height: 300px;  border-top-right-radius: 50px;  ">
            <div class="card-body">
              <h4 class="card-title text-white mb-3">Kashmir - 29,999/-</h4>
              <p class="card-text text-black">
                <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
            </div>
          </div>

        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card  mb-4 bg-dark border border-dark border-4" style="width: 27rem;  border-radius:50px;"data-aos="zoom-out-up" data-aos-offset="250">
            <img src="assets/image/goa.jpg" class="card-img-top  " alt="..."
              style="height: 300px; border-top-left-radius:50px; border-top-right-radius:50px;">
            <div class="card-body ">
              <h4 class="card-title text-white mb-3">Goa - Rs 49,999/-</h4>
              <p class="card-text text-black">
                <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card  mb-4 bg-dark border border-dark border-4"
            style="width: 27rem;  border-top-left-radius: 50px;  border-bottom-right-radius: 50px;"data-aos="zoom-out-left" data-aos-offset="250">
            <img src="assets/image/rajasthan.jpg" class="card-img-top  " alt="..."
              style="height: 300px; border-top-left-radius: 50px; ">
            <div class="card-body  ">
              <h4 class="card-title text-white mb-3">Rajasthan - Rs 33,999/-</h4>
              <p class="card-text text-black">
                <a href="/india" class="btn btn-light btn-lg">Explore->>></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



  <!-------------------------------------------- <packages end> -------------------------------------->

 


  <%- include('common/footer.ejs') %>

</div>


