



<div class="container-fluid">
    <div class="row">
    <div class="col-md-6">
        <img src ="http://localhost:8080/upload/<%= packgedata.fileupload %>">
        </div>
        <div class="col-md-4">
            <h1><%= packgedata.packagename %></h1>
            <h1><%= packgedata.packagedescription %></h1>
            <h1><%= packgedata.price %></h1>
        </div>
    </div>
</div>